parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between array and false will always evaluate to false\\.$#"
			count: 1
			path: tests/DatabaseAbstractTestCase.php

		-
			message: "#^Method SimplePhpModelSystem\\\\Tests\\\\TestDatabase\\:\\:getQueries\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/TestDatabase.php

		-
			message: "#^Method SimplePhpModelSystem\\\\Tests\\\\TestDatabase\\:\\:setQuery\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/TestDatabase.php

		-
			message: "#^Property SimplePhpModelSystem\\\\Tests\\\\TestDatabase\\:\\:\\$queries type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/TestDatabase.php
