includes:
	- ./phpstan-baseline.neon
parameters:
        checkMissingIterableValueType: false
        level: max
        excludes_analyse:
            - vendor/*
        paths:
            - src/
            - examples/
            - tests/
