<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.result.cache">
    <coverage>
        <report>
        <clover outputFile="build/logs/clover.xml"/>
        <html outputDirectory="build/coverage/html/"/>
        </report>
    </coverage>
    <logging/>
    <testsuites>
        <testsuite name="Unit tests">
        <directory suffix=".php">tests/unit/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
        <directory>src</directory>
        </include>
    </source>
</phpunit>
